.panel {
	width: 100%;
	margin:20px;
	margin-left:0;
	margin-top:0;
}
.panel:hover .panel-title{
	background:#eee;
}
.panel-title {
	cursor: pointer;
	line-height: 50px;
	margin-top: 15px;
	padding-left:20px;
	transition:0.3s;
}
.panel-details {
	width: 100%;
	height: auto;
	padding:20px;
	padding-left:40px;
	padding-bottom:0;
	word-wrap: break-word;
	box-sizing: border-box;
	color: #888;
}
