.admin-component{
    width:85%;
    padding:40px;
    box-sizing:border-box;
    height:100%;
    margin:0 auto;
}
.data-functions{
    width:200px;
    text-align: center;
}
.details{
    width:100%;
    height:auto;
    border:1px solid #aaa;
    margin-bottom:25px;
}