.admin-component {
	width: 90%;
	padding: 40px;
	padding-top: 0px;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	padding-bottom:50px;
}
.data-functions {
	width: 200px;
	text-align: center;
}
.details {
	width: 100%;
	height: auto;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}