.rendered-table {
	width: 100%;
	height: auto;
	margin-bottom:10px;
}
.table-title {
	width: 100%;
	padding: 0 20px;
	height: 60px;
	box-sizing: border-box;
}
.selected-action {
	height: 60px;
	line-height: 60px;
	float: right;
}
.table-title-name {
	float: left;
	height: 60px;
	line-height: 60px;
}

.row-hover:hover{
	background:#eee;
}