.top-bar{
    width:100%;
    height:50px;
    z-index:2;
    position:fixed;
    background:#fff;
    line-height:50px;
    padding:0 40px;
    box-shadow:0 0px 8px rgba(0,0,0,0.2);
    box-sizing:border-box;
    top:0;
}
.action{
    width:auto;
    height:100%;
    padding:0 20px;
    transition: 0.3s;
    display:inline-block;
    cursor:pointer;
    color:inherit;
    text-decoration: none;
    font-size:13px;
}
.action:hover{
    background:#eee;
}
.action-right{
    float: right;
}
.topbar-icon{
    filter:grayscale(80%);
}
.top-bar .fa{
    margin-right:15px;
}