.slot-addition{
    width:100%;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
}
.new-item{
    width:auto;
    display: inline-block;
    padding:0 30px;
    margin:10px auto;
    height:50px;
    line-height:50px;
    text-align:center;
    cursor: pointer;
    transition:0.3s;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}
.new-item:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}
.new-item i{
    font-size:13px;
    margin-left:10px;
}