
.controls{
    width:100%;
    padding:20px;
    box-sizing: border-box;
}
.select-duration{
    width:150px;
    text-align:center;
}
.loading{
    width:100%;
    padding:200px;
    box-sizing: border-box;
    text-align:center;
}
.fake-link{
    color:blue;
    cursor:pointer;
    text-decoration: underline;
}
.wid-10{
    width:10%;
    padding:5px 10px;
    box-sizing: border-box;
    min-width:75px;
    text-align: center;
}
.cell{
    transition:0.3s;
    float:left;
    cursor: default;
    display:block;
}
.cell:hover{
    background: #eee;
}
.table-title.active{
    color:rgb(225,0,80);
    background:rgb(251, 224, 234);
}
.cell-full{
    height:30px;
    line-height: 30px;
    padding-left:15px;
    box-sizing:border-box;
    margin:2px 0;
    cursor:pointer;
    transition:0.3s;
}
.cell-full:hover{
    background:#eee;
}