.login {
	width: 500px;
	position: absolute;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}