body,
html {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	height: 100%;
	width: 100%;
}
#root,
.App {
	width: 100%;
	min-height: 100%;
	height:auto;
}
.dull-text {
	color: #888;
}
.half,
.quarter {
	width: 50%;
	display: inline-block;
	text-align: center;
}
.quarter {
	width: 25%;
}
.input-field.full {
	width: 100%;
	min-width: 300px;
}

.loading {
	width: 100%;
	padding: 150px;
	box-sizing: border-box;
	text-align: center;
}

.dropdown {
	width: 150px;
}

.header {
	font-size: 30px;
	margin: 0 20px;
	margin-bottom: 20px;
}
.mini-header{
	font-size:20px;
	padding-right:20px;
	margin-bottom:20px;
}
*::selection{
	background:rgba(249, 253, 0, 0.5);
}