body ,html{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  height:100%;
  width:100%;
}
#root,.App{
  width:100%;
  height:100%;
}
.dull-text{
  color:#888;
}
.half{
  width:50%;
  display:inline-block;
  text-align: center;
}