
.input-field {
	padding: 20px;
	padding-top: 0;
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
}
.input-field.t-r-padd {
	padding-top: 10px;
	text-align: right;
	padding-right: 25px;
}
.errors {
	width: 75%;
	margin: 20px auto;
	padding: 10px 0;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid red;
}
.error-item {
	width: 100%;
	height: 40px;
	line-height: 40px;
	list-style-type: none;
	margin: 2px 0;
	font-size: 14px;
	cursor: default;
}
.error-item:hover {
	text-decoration: underline;
}
.tabs {
	width: 70%;
	font-size:25px;
	padding: 20px;
	margin: 10px auto;
}
